.bg-container {
    background-image: url(../../assets//car-warehouse.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10px;
}

@media (max-width:576px){
    .bg-container{
        height: calc(150vh - -350px);
    }
 
} 

@media (max-width:400px) {
    .bg-container{
        height: calc(150vh - -40px);
    }
}